@use '_variables.scss' as *;

footer {
	margin-top: 40px;
	background-color: darken($quinary-color, 30%);
	padding: 40px 0;
	width: 100%;

	.footer__socials-container {
		display: flex;
		justify-content: center;
		gap: 10px;
		margin-bottom: 20px;
	}

	.footer__text {
		text-align: center;
		color: $primary-color;
	}

	@media (min-width: 768px) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		padding: 40px 100px;

		.footer__socials-container {
			margin: auto 0;
		}
	}
}
