@use './variables.scss' as *;
@use './components/_boxed-button.scss' as *;

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
	background-color: darken($primary-color, 10%);
	width: 100%;

	.name {
		color: $quinary-color;
		font-size: 22px;
		display: flex;
		align-items: center;
		gap: 10px;
		text-wrap: nowrap;
	}

	.nav {
		.nav__list {
			list-style: none;
			display: flex;

			.nav__list-item {
				margin-left: 10px;
				display: flex;
				align-items: center;

				a {
					font-size: 12px;
					text-decoration: none;
					color: $quinary-color;
					font-weight: 500;
				}

				&:last-child {
					@include boxed-button;

						padding: 5px 5px;
				}
			}
		}

		.nav__icon {
			display: none;
		}

		@media screen and (max-width: 480px) {
			.nav__list {
				display: none;
			}

			.nav__icon {
				display: block;
			}
		}
	}
}
