$primary-color: #386641;
$secondary-color: #6a994e;
$tertiary-color: #a7c957;
$quaternary-color: #f2e8cf;
$quinary-color: #bc4749;

$primary-color: lighten(#e0e2dbff, 10%);
$secondary-color: #d2d4c8ff;
$tertiary-color: #b8bdb5ff;
$quaternary-color: #889696ff;
$quinary-color: #5f7470ff;

