@use './greeting.scss' as *;
@use './header.scss' as *;
@use './variables.scss' as *;
@use './skills.scss' as *;
@use './projects.scss' as *;
@use './components/project-card.scss' as *;
@use './about.scss' as *;
// @use './footer.scss' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: $quinary-color;
	font-family: 'montserrat', 'sans-serif';
	background-color: $primary-color;
}

main {
	padding: 0 20px;
}

// mobile < 480px
// tablets > 768px
// desktop > 1024px
