.greeting {
  margin-top: 20px;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 30px 40px 100px 40px;
  background-color: #e0e2db;
  grid-template-columns: 1fr fit-content(35%);
  gap: 10px;
  max-width: 2100px;
}
.greeting .offset-highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #b8bdb5 40%);
  display: inline;
}
.greeting .greeting__text {
  text-align: center;
  max-width: 800px;
}
.greeting .greeting__text--secondary {
  margin: 60px 0 15px 0;
}
.greeting .greeting__text--primary {
  font-size: 48px;
  margin-bottom: 70px;
}
.greeting .greeting__text--link {
  align-self: center;
  color: #5f7470;
  text-decoration: none;
  background-color: #f8f9f7;
  border: 2px solid #5f7470;
  border-radius: 5px;
  text-wrap: nowrap;
  padding: 20px 26px;
  box-shadow: 2px 2px 0 #5f7470;
}
.greeting .greeting__profile {
  position: relative;
  margin-right: 10%;
  margin-top: 10%;
}
.greeting .greeting__profile img:nth-child(2) {
  position: absolute;
  width: 25%;
  bottom: 80%;
  right: 80%;
}
.greeting .greeting__profile img:nth-child(3) {
  position: absolute;
  width: 35%;
  bottom: 15%;
  right: -10%;
}
.greeting .greeting__profile .greeting__profile-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .greeting {
    grid-template-columns: 1fr;
  }
  .greeting .greeting__text--primary, .greeting .greeting__text--secondary {
    text-align: left;
  }
  .greeting .greeting__profile {
    display: none;
  }
  .greeting .greeting__profile * {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .greeting .greeting__text--primary {
    font-size: 36px;
  }
  .greeting .greeting__text--link {
    padding: 15px 10px;
  }
}

.nav__dropdown {
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.nav__dropdown-container {
  display: none;
  position: absolute;
  background-color: #d2d4c8;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #5f7470;
  opacity: 0.8;
  min-width: 160px;
  z-index: 1;
  right: 10px;
}
.nav__dropdown-container li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.nav__dropdown-container li a {
  color: #5f7470;
  text-decoration: none;
}

.show {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: #e0e2db;
  width: 100%;
}
header .name {
  color: #5f7470;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-wrap: nowrap;
}
header .name .name__img {
  filter: brightness(0) saturate(100%) invert(46%) sepia(8%) saturate(741%) hue-rotate(119deg) brightness(91%) contrast(86%);
}
header .nav .nav__list {
  list-style: none;
  display: flex;
}
header .nav .nav__list .nav__list-item {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
header .nav .nav__list .nav__list-item a {
  font-size: 12px;
  text-decoration: none;
  color: #5f7470;
  font-weight: 500;
}
header .nav .nav__list .nav__list-item:last-child {
  align-self: center;
  color: #5f7470;
  text-decoration: none;
  background-color: #f8f9f7;
  border: 2px solid #5f7470;
  border-radius: 5px;
  text-wrap: nowrap;
  padding: 5px 5px;
}
header .nav .nav__icon {
  display: none;
}
@media screen and (max-width: 480px) {
  header .nav .nav__list {
    display: none;
  }
  header .nav .nav__icon {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  header {
    padding: 15px 15px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 30px 100px;
  }
  header .nav .nav__list {
    gap: 20px;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  text-align: center;
  align-items: center;
}
.skills .skills__title {
  margin-bottom: 70px;
}
.skills .skills__text {
  max-width: 480px;
}
.skills .skills__container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 950px;
}
.skills .skills__container img {
  filter: brightness(0) saturate(100%) invert(46%) sepia(8%) saturate(741%) hue-rotate(119deg) brightness(91%) contrast(86%);
  width: 80px;
  height: 80px;
}
@media (max-width: 768px) {
  .skills .skills__container {
    justify-items: center;
    display: grid;
    row-gap: 40px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  max-width: min(80vw, 600px);
  margin: 0 auto;
  display: inline-block;
}
.card--border {
  border: 1px solid #00FFB2;
}
.card .card__hero {
  background-color: #d2d4c8;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card .card__hero .card__hero-image {
  border-radius: 8px 8px 0 0;
  width: 90%;
  height: 80%;
  object-fit: cover;
  object-position: 100% 100%;
}
.card .card__content {
  padding-top: 40px;
}
.card .card__content .card__content-subtitle {
  color: #8c9172;
}
.card .card__content .card__content-title {
  font-size: 36px;
  margin-bottom: 15px;
  display: inline-block;
}
.card .card__content .card__content-text {
  margin-bottom: 25px;
  color: #93a6a3;
  line-height: 1.5;
}
.card .card__content .card__link-container {
  display: flex;
  align-items: center;
}
.card .card__content .card__link-container .card__link {
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.card .card__content .card__link-container .card__link .card__link-img {
  filter: brightness(0) saturate(100%) invert(46%) sepia(8%) saturate(741%) hue-rotate(119deg) brightness(91%) contrast(86%);
}
.card .card__content .card__link-container .card__link a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  margin-right: 10px;
}
@media (max-width: 400px) {
  .card .card__content .card__content-title {
    font-size: 28px;
  }
}

.projects {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1500px;
}
.projects .projects__title {
  text-align: center;
  margin-bottom: 30px;
}
.projects .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  column-gap: 20px;
  row-gap: 60px;
}
.projects .card {
  width: 450px;
}

.about {
  margin-top: 150px;
  width: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  line-height: 2;
}
.about .about__title {
  font-size: 50px;
}
.about .about__profile {
  position: relative;
  margin: 0 10%;
}
.about .about__profile img:nth-child(2) {
  position: absolute;
  width: 25%;
  bottom: 80%;
  right: 80%;
}
.about .about__profile img:nth-child(3) {
  position: absolute;
  width: 35%;
  bottom: 15%;
  right: -10%;
}
.about .about__profile .about__profile-img {
  margin: 70px auto;
  height: 450px;
  width: 80%;
  max-width: 400px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .about {
    grid-template-areas: "title img" "text img";
    grid-template-columns: 3fr 2fr;
    max-width: 1500px;
    margin: 100px auto;
  }
  .about .about__title {
    text-align: left;
    align-self: flex-end;
    grid-area: title;
  }
  .about .about__text {
    align-self: flex-start;
    text-align: left;
    grid-area: text;
  }
  .about .about__profile {
    grid-area: img;
    margin-top: 20%;
    margin-right: 10%;
  }
}
@media (max-width: 400px) {
  .about .about__title {
    font-size: 40px;
  }
}

footer {
  margin-top: 40px;
  background-color: #1a201f;
  padding: 40px 0;
  width: 100%;
}
footer .footer__socials-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
footer .footer__text {
  text-align: center;
  color: #f8f9f7;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
  }
  footer .footer__socials-container {
    margin: auto 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5f7470;
  font-family: "montserrat", "sans-serif";
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-items: center;
  align-items: center;
}
body main {
  max-width: 2100px;
}
body h2 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #b8bdb5 40%);
  display: inline;
}

main {
  padding: 0 20px;
}

/*# sourceMappingURL=main.css.map */
