@mixin img-decorator {
	position: relative;

	img:nth-child(2) {
		position: absolute;
		width: 25%;
		bottom: 80%;
		right: 80%;
	}

	img:nth-child(3) {
		position: absolute;
		width: 35%;
		bottom: 15%;
		right: -10%;
	}
}
