.card {
	max-width: 500px;
	margin: 0 auto;
	display: inline-block;

	&--border {
		border: 1px solid #00FFB2;
	}

	.card__hero {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}

	.card__content {
		padding-top: 40px;

		.card__content-title {
			font-size: 36px;
			margin-bottom: 20px;
			display: inline-block;
		}

		.card__content-text {
			margin-bottom: 25px;
		}

		.card__button {
			margin-right: 35px;
			text-decoration: none;
			color: inherit;
		}
	}
}
