@use '../variables.scss' as *;

.card {
	max-width: 500px;
	margin: 0 auto;
	display: inline-block;

	&--border {
		border: 1px solid #00FFB2;
	}

	.card__hero {
		background-color: $secondary-color;
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: flex-end;

		.card__hero-image {
			border-radius: 8px 8px 0 0;
			width: 90%;
			height: 80%;
			object-fit: cover;
		object-position: 100% 100%;
		}
	}

	.card__content {
		padding-top: 40px;

		.card__content-title {
			font-size: 36px;
			margin-bottom: 20px;
			display: inline-block;
		}

		.card__content-text {
			margin-bottom: 25px;
		}

		.card__link {
			margin-right: 35px;
			text-decoration: none;
			color: inherit;
			font-weight: bold;
		}
	}
}
